#counter {
  margin: 20px auto;
  width: fit-content;
  height: 55px;
  box-sizing: content-box;
  font: inherit;
  text-shadow: 1px 2px 3px #000000;
  padding: 0.5rem;
  background: linear-gradient(#ced869, #536d1b);
  color: var(--text-primary);
  border-radius: 20px;
  box-shadow: 0px 0px 0px 4px #7e1522;
  display: flex;
  flex-wrap: nowrap;
}

.counter_item {
  width: 35px;
  height: 55px;
  overflow: hidden;

  .digit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 55px;
    line-height: 100%;
    transition-property: transform;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(1, 0, 1, 0);
  }

  .digit_colon {
    justify-content: center;
  }

  .digit_0 {
    transform: translateY(0);
  }
  .digit_1 {
    transform: translateY(-55px);
  }
  .digit_2 {
    transform: translateY(-110px);
  }
  .digit_3 {
    transform: translateY(-165px);
  }
  .digit_4 {
    transform: translateY(-220px);
  }
  .digit_5 {
    transform: translateY(-275px);
  }
  .digit_6 {
    transform: translateY(-330px);
  }
  .digit_7 {
    transform: translateY(-385px);
  }
  .digit_8 {
    transform: translateY(-440px);
  }
  .digit_9 {
    transform: translateY(-495px);
  }
}
