.worksheet_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

table.zig-zag {
  width: 100%;
  background: #a4363e;
  padding: 15px;
  border-radius: 30px;
  box-shadow:
    5px 6px 0px -2px #620d15,
    -6px 5px 0px -2px #620d15,
    0px -2px 0px 2px #ee9191,
    0px 10px 0px 0px #610c14,
    0px -10px 0px 1px #e66565,
    0px 0px 180px 90px #0d2f66;

  color: var(--text-primary);
  text-shadow: 1px 2px 3px #000000;

  thead {
    background: #a4363e;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  th,
  td {
    padding: 0.25em 0.5em;
    text-align: left;
    text-wrap: pretty;
    &.right {
      text-align: right;
    }
  }
  td {
    background-color: #536d1b;
  }
  th {
    background-color: #891a1a;
  }
  border-collapse: separate;
  border-spacing: 0.25em 1em;
  tbody tr:nth-child(odd) {
    transform: rotate(2deg);
  }
  tbody tr:nth-child(even) {
    transform: rotate(-2deg);
  }
  tfoot td {
    background: 0 none;
  }
  tfoot th {
    text-align: right;
  }
}

.action {
  span[role='button'] {
    margin-left: 5px;
    visibility: hidden;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1.2rem;
  }
}

.action:hover span[role='button'] {
  visibility: visible;
}

.add_modal {
  width: 380px;

  h2 {
    margin: 0;
  }

  ul.content {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: radial-gradient(#fffbf3, #ffe19e);
    padding: 24px;
    box-sizing: border-box;
    border-radius: 20px 18px 20px 18px;
    box-shadow:
      0px 0px 0px 6px #5e1e21,
      0px 0px 8px 6px #84222b,
      inset 0px 0px 15px 0px #614506,
      6px 6px 1px 1px #e66565,
      -6px 6px 1px 1px #e66565;
    margin: 40px 0;
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }
}
