.worksheet_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

table.zig-zag {
  width: 100%;
  thead {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  th,
  td {
    padding: 0.25em 0.5em;
    text-align: left;
    text-wrap: pretty;
    &.right {
      text-align: right;
    }
  }
  td {
    background-color: #eee;
  }
  th {
    background-color: #009;
    color: #fff;
  }
  border-collapse: separate;
  border-spacing: 0.25em 1em;
  tbody tr:nth-child(odd) {
    transform: rotate(2deg);
  }
  thead tr,
  tbody tr:nth-child(even) {
    transform: rotate(-2deg);
  }
  tfoot td {
    background: 0 none;
  }
  tfoot th {
    text-align: right;
  }
}

.action {
  span[role='button'] {
    margin-left: 5px;
    visibility: hidden;
    cursor: pointer;
    font-weight: 700;
    color: var(--link-color);
  }
}

.action:hover span[role='button'] {
  visibility: visible;
}

.add_modal {
  width: 300px;
  padding: 1em 2em 2em 2em;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
